<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Opencart App Test Regression Suite" verbose="4">

	<test name="Login Page Test">
		<classes>
			<class name="com.qa.opencart.tests.LoginPageTest" />
		</classes>
	</test>


	<test name="Accounts Page Test">
		<classes>
			<class name="com.qa.opencart.tests.AccountPageTest" />
		</classes>
	</test>


	<test name="Search For Product Page Test">
		<classes>
			<class name="com.qa.opencart.tests.SearchForProductPageTest" />
		</classes>
	</test>


	<test name="Logout Page Test">
		<classes>
			<class name="com.qa.opencart.tests.LogoutPageTest" />
		</classes>
	</test>


</suite>	